<div *ngIf="!isLoggedIn" class="login-container">
  <div class="login-block">
    <h2 class="login-header">Login</h2>
    <div class="login-form">
      <div *ngIf="errors" class="alert alert-danger">
        {{errors}}
      </div>
      <form [formGroup]="userForm" (ngSubmit)="submit()" ngNativeValidate>
        <div class="form-group">
          <label for="name">Login</label>
          <input type="text" 
                 class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && form.login.errors }"
                 placeholder="Enter login" 
                 formControlName="login">
          <div *ngIf="submitted && form.login.errors" class="text-error">
            <span *ngIf="form.login.errors.required">Login is required</span>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="text" 
                 class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && form.password.errors }"
                 placeholder="Enter password"
                 formControlName="password">
          <div *ngIf="submitted && form.password.errors" class="text-error">
            <span *ngIf="form.password.errors.required">Password is required</span>
          </div>
        </div>
        <button type="submit" 
                class="btn btn-primary btn-login">
                Login
        </button>
      </form>
    </div>
  </div>
</div>