<div *ngIf="!isLoggedIn" class="login-container">
  <div class="login-block">
    <h2 class="login-header">Login</h2>
    <div class="login-form">
      <form name="form" 
            #loginForm="ngForm"
            (ngSubmit)="loginForm.form.valid && login()"
            novalidate>
        <div class="form-group">
          <label for="name">Login</label>
          <input type="text" 
                 class="form-control"
                 [(ngModel)]="user.name" 
                 placeholder="Enter login" 
                 name="name"
                 #name="ngModel"
                 required>
          <div *ngIf="loginForm.submitted && !name.valid" class="text-error">
            Login is required</div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="text" class="form-control"
                 [(ngModel)]="user.password"
                 placeholder="Enter password" 
                 name="password"
                 #password="ngModel"
                 required>
          <div *ngIf="loginForm.submitted && !password.valid" class="text-error">
            Password is required</div>
        </div>
        <button type="submit" 
                class="btn btn-primary btn-login">
                Login
        </button>
      </form>
    </div>
  </div>
</div>