.login-container {
    padding-top: 150px;
    max-width: 500px;
    margin: 0 auto;
}

.login-block {
    border:1px solid #c3c3c3;
}

.login-header {
    border-bottom: 1px solid #c3c3c3;
    padding: 10px 30px;
}

.login-form {
    padding: 20px 50px;
}

.text-error {
    color: #dc3545;;
    padding: 5px 10px;
}