.col-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.course {
    background: #cccff9;
}

.top {
    background: #acb2f7;
}

.fa-star {
    color: #f5f513
}

.modal.show {
    display: block;
}

.modal-header,
.modal-footer {
    border: none;
}