<div class="row no-gutters p-3 mb-2 rounded course"
    [ngClass]="{top: courseItem.isTopRated}"
    [appCreatedDate]="courseItem.date">
  <div class="col-10">
    <div class="row">
        <div class="col-7 text-primary text-truncate" [title]="courseItem.name">
          {{courseItem.name | uppercase}}
          <span *ngIf="courseItem.isTopRated">
            <i class="fas fa-star"></i>
          </span>
        </div>
        <div class="col-3 text-info text-right">
          {{courseItem.length | convertDuration}}
        </div>
        <div class="col-2 text-info">
          {{courseItem.date | date}}
        </div>
    </div>
    <div>
      {{courseItem.description}}
    </div>
  </div>
  <div class="col-2 col-buttons">
      <button type="button" class="btn btn-primary mb-2 float-right d-block btn-edit" (click)="editCourse(courseItem.id)">Edit</button>
      <button type="button" class="btn btn-danger float-right btn-open" (click)="openPopup()">Delete</button>
  </div>
</div>

<app-delete-popup *ngIf="isOpen"
                  (close)="getIsOpen($event)"
                  [courseId]="courseItem.id"></app-delete-popup>
